@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');

body {
  font-family: 'Roboto';
}

form {
  border: 1px solid black;
  padding: 10px;
  margin: 20px 0;
}

ul {
  margin: 30px 0;
}